/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;800&family=Inter:wght@400;500;600;700&display=swap');
/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Inter';
  --ifm-color-primary: #2e4385;
  --ifm-color-primary-dark: #293c78;
  --ifm-color-primary-darker: #273971;
  --ifm-color-primary-darkest: #202f5d;
  --ifm-color-primary-light: #334a92;
  --ifm-color-primary-lighter: #354d99;
  --ifm-color-primary-lightest: #3c57ad;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2570c1;
  --ifm-color-primary-dark: #2165ae;
  --ifm-color-primary-darker: #1f5fa4;
  --ifm-color-primary-darkest: #1a4e87;
  --ifm-color-primary-light: #297bd4;
  --ifm-color-primary-lighter: #3181d8;
  --ifm-color-primary-lightest: #4e93dd;
  background-color: #000618;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
}

table {
  display: inline-table;
  width: 100%;
}
.noBorder {
  border:hidden;
}

.container {
  position: relative;
  /* color: white; */
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}


.navbar {
  /* make room for headings that break in two lines */
  min-height: 70px;
}

[data-theme='dark'] .navbar {
  background-color: #1a1f30;
}

.hero--primary {
  background-color: #2d9c6d;
}

.footer {
  background-color: #1f263b;
}

