/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;800&family=Inter:wght@400;500;600;700&display=swap');
/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Inter';
  --ifm-color-primary: #2e4385;
  --ifm-color-primary-dark: #293c78;
  --ifm-color-primary-darker: #273971;
  --ifm-color-primary-darkest: #202f5d;
  --ifm-color-primary-light: #334a92;
  --ifm-color-primary-lighter: #354d99;
  --ifm-color-primary-lightest: #3c57ad;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #477fdd;
  --ifm-color-primary-dark: #2e6ed8;
  --ifm-color-primary-darker: #2766d1;
  --ifm-color-primary-darkest: #2054ad;
  --ifm-color-primary-light: #6090e2;
  --ifm-color-primary-lighter: #6c99e4;
  --ifm-color-primary-lightest: #91b2eb;
  background-color: #000618;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
}

table {
  display: inline-table;
  width: 100%;
}

.noBorder {
  border:hidden;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}


.navbar {
  /* make room for headings that break in two lines */
  min-height: 70px;
}

[data-theme='dark'] .navbar {
  background-color: #1a1f30;
}

@media screen and (min-width: 996px) and (max-width: 1239px) {
  /* hide title on small screens, before mobile view kicks in */
  .navbar__title {
    width: 0;
  }
}

.hero__title {
  color: black;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

[data-theme='dark'] .hero__title {
  color: white;
}

.hero--primary {
  height: 25vh;
  background-color: white;
}

[data-theme='dark'] .hero--primary {
  background-color: #000618;
}

.footer {
  background-color: #1f263b;
}

.hero-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;

  width: 100%;
  opacity: 1;

  object-fit: cover;

  -webkit-mask-image: linear-gradient(
    rgb(0 0 0 / 0.5),
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0)
  );
  mask-image: linear-gradient(
    rgb(0 0 0 / 0.5),
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0)
  );
}

@media screen and (min-width: 400px) and (max-width: 996px) {
  /* optimize background-pic size (and placement) a bit for mobile */
  .hero-image {
    height: 50vh;
  }
}

.frontpageSvgButton {
  width: 100px;
  height: 100px;
  padding-bottom: 3px;
}

[data-theme='dark'] .frontpageSvgButton {
  filter: invert(100%);
}

.frontpage--feature-row {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  column-gap: 1rem; 
}

/* 
  distribute across first 2 then 1 cols as screen gets narrower, 
  width a few quick hacks to adjust total width and col-gap's to make it a bit prettier

  --- begin col dist stuff ---
*/
@media screen and (max-width: 1180px) {
  .frontpage--feature-row {
     grid-template-columns: repeat(2, 1fr); 
     column-gap: 5rem; 
  }

  .frontpage--feature-container {
    max-width: 90%;
  }
}

@media screen and (max-width: 860px) {
  .frontpage--feature-row {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .frontpage--feature-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .frontpage--feature-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .frontpage--feature-container {
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .frontpage--feature-container {
    max-width: 100%;
  }
}
/* --- end col dist business --- */

.frontpage--button {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid var(--ifm-color-emphasis-300);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(11px);
  background-color: #1a1f30;
  margin: 0.7rem;
  --ifm-link-hover-color: var(--ifm-color-primary);
  position: relative;
}


[data-theme='light'] .frontpage--button {
  border-color: var(--ifm-color-emphasis-500);
  background-color: #e8f8f3;
}

.frontpage--button:hover {
  border-color: var(--ifm-color-emphasis-800);
}

.frontpage--button-linkArrow {
  position:absolute;
  top: 15px;
  right: 15px;

  width: 12px;
  height: 12px;

  z-index: 2;
}

[data-theme='dark'] .frontpage--button-linkArrow {
  filter: invert(100%);
}

.frontpage--button-link div p {
  margin-bottom: 0;
}

a.frontpage--button-link:hover {
  text-decoration: none; 
  --ifm-link-hover-color: var(--ifm-color-content);
}

a.frontpage--button-link:active {
  text-decoration: none; 
  --ifm-link-hover-color: var(--ifm-color-content);
}

a.frontpage--button-link:visited {
  text-decoration: none; 
  --ifm-link-hover-color: var(--ifm-color-content);
}

a.frontpage--button-link:link {
  text-decoration: none; 
  --ifm-link-hover-color: var(--ifm-color-content);
} 

.col--offset-05 {
  margin-right: calc(1 / 30 * 100%);
  margin-left: calc(1 / 30 * 100%);
}

.frontpage--message-container {
  max-width: 75%;
}

.frontpage--message {
  padding-bottom: 10px;
}

.integrate-link-override {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}