.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  padding: 1rem 0;
}

.noColorLink {
  color: inherit;
}

.linkrows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem 1rem;
  align-items: start;
  padding: 2rem 0;
  width: 80%;
}

.linkrows div h3 {
 margin-top: 1rem;
}

@media screen and (max-width: 1080px) {
  .linkrows {
    grid-template-columns: 1fr 1fr;
  }  
}

@media screen and (max-width: 760px) {
  .linkrows {
    grid-template-columns: 1fr;
  }  
}

.slimbutton {
  max-width: 70%;
  display:inline-block;
}